body {
  margin: 0;
  padding: 0;
  background-color: #e6f9f9;
  
}
.text-center{
  text-align: center;
}
.text-right{

  text-decoration: none;
  text-align: center;
}
.form-control{
    display: block;
    font-size: 15px;
    width: 250px;
    margin-bottom: 30px;
}
.btn{
  text-align: center;
  background-color:#1b8381;
  color: white;
  border: none;
  border-radius: 10px;
  min-width: 100px;
  padding: 10px 20px;
  font-size: 20px;
}
.all-font-size{
  font-size: 20px;
  margin: 20px auto;
}
@media screen and (max-width: 668px){
  .form-control{
   width: 200px;
}
}
