.add-transaction-card{
    width: fit-content;
    margin: 30px auto;
    padding: 10px 60px;
  background-color: white;
 border-radius: 10px;
 box-shadow: 1px 0px 15px 1px gray;
}
.form-control-regi{
    width: 100%;

}
.select-label{
    font-size: 20px;

}
.type-text{
    font-size: 20px;
}
.cetgory-text{
    font-size: 20px;
    position: relative;
    top: 10px;
}
.btn-addTransaction{
    position: relative;
    left: 45px;
}
.trans-text{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}