.login-form{
    width: fit-content;
    margin: 30px auto;
    padding: 30px 60px;
    
  background-color: white;
  border-radius: 10px;
 box-shadow: 1px 0px 15px 1px gray;
}
.login-btn{
    display: block;
    margin: 10px auto;
    width: 150px;
}
@media screen and (max-width: 668px){
    .login-form{
        width: 200px;
    } 
}