.signup-form{
    width: fit-content;
    margin: 30px auto;
    padding: 30px 60px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
   }
 .gender{
     margin-left: 20px;
 }
 .signup-btn{
     display: block;
     margin: 10px auto;
     width: 150px;
 }