.navbar{
    background-color:#1b8381;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-brand{
    position: relative;
    right: 60px;
    border-radius: 50%;
    height: 50px;
    box-shadow: 1px 0px 15px 1px white;
}
.navbar-brand:hover{
    box-shadow: 1px 0px 15px 1px gold;
    transition: 0.3s;
} 

.cash-track-links{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 30px;
}
.navbar-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 30px;
}
.navbar-link:hover{
    color:gold ;
    /* padding: 5px 10px;
    border-radius: 5px; */
    transition: 0.3s;
}
.hello-user-text{
    color: white;
    
}
.navbar-logout{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 0 30px;
    cursor: pointer;
}
.navbar-logout:hover{
    color:gold ;
    transition: 0.3s;
}
.cash-track-txt{
    position: relative;
    top: -15px;
    right: 80px;
}
.cash-track-txt:hover{
    color:gold ;
    transition: 0.3s; 
}

@media screen and (max-width: 668px) {
   .navbar{
    display: flex;
    flex-direction: column;
    align-items: start;
   }
   .navbar-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 8px 0;
}
   .navbar-links{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
   } 
   .navbar-link:hover{
background-color: white;
color: black;
    padding: 0 ;
   transition: none;
}
.cash-track-txt{
    right: 30px;
}
.navbar-brand{
    right: 20px;
   
}
}